
.sheet-row {
  display: flex;
  gap: 12px;
  align-items: center;
}

.title-field {
  flex: 0 0 500px;
  min-width: auto;
}

.date-field {
  flex: 0 0 220px;
}

.priority-field {
  flex: 0 0 180px;
}
.submit-btn{
  bottom: 10px;
}
